<app-alert></app-alert>
<div class="row pt-2">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Department List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SrNo</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- using *ngFor have to import commonmodules -->
                                <!-- <tr *ngFor="let dept of deptList; let i=index">
                                    <td>{{dept.departmentId}}</td>
                                    <td>{{dept.departmentName}}</td>
                                    <td>{{dept.departmentLogo}}</td>
                                    <td>
                                        @if(dept.departmentId >2770){
                                            <span>Active</span>

                                        }
                                        @else{
                                            <span>Deactive</span>
                                        }
                                    </td>
                                </tr> -->
                                  
                                @for(dept of deptList;track $index){
                                    <tr>
                                        <td>{{dept.departmentId}}</td>
                                        <td>{{dept.departmentName}}</td>
                                        <td>
                                            @if(dept.departmentId >2770){
                                                <span>Active</span>
    
                                            }
                                            @else{
                                                <span>Deactive</span>
                                            }
                                        </td>
                                        <td class="d-flex justify-content-center align-items-center ">
                                            <button class="btn btn-primary bg-info" (click)="onEdit(dept)">Edit</button>
                                            <button class="btn btn-primary bg-danger" (click)="onDelete(dept.departmentId)">Delete</button>

                                          </td>
                                    </tr>

                                }
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col-4">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            New Deparrment

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 pt-2">
                    <label for="">Department Name:</label>
                    <input type="text" name="" id="" placeholder="Enter name" class="mx-2" [(ngModel)]="deptobj.departmentName">
                </div>
                <div class="col-12 pt-3">
                    <label for="">Department Logo:</label>
                    <input type="text" name="" id="" placeholder="Enter logo URL" class="mx-2" [(ngModel)]="deptobj.departmentLogo"> 
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-4">
                    <button class="btn btn-danger" >Reset</button>
                </div>
                <div class="col-4">
                    <!-- {{deptobj |json}} -->
                    @if(deptobj.departmentId==0){
                        <button class="btn btn-success" (click)="onSave()">Save</button>

                    }
                    @else{
                        <button class="btn btn-warning" >Update</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


</div>
